@model List<QuestViewModel>
<div class="row">
    @foreach (var quest in Model)
    {
        <div class="col-4">
            <a class="card" asp-controller="Quests" asp-action="DetailsQuest" asp-route-id="@quest.Id">
                <div class="card-body">
                    <img style='width:100%; height:100%;' src="data:image/jpeg;base64,@(Convert.ToBase64String(quest.Image))" />
                    <p class="quest-name">@quest.Name</p>
                    <p class="card-text">@quest.Description</p>
                    <div class="row">
                        <div class="col-4">
                            <p class="quest-discount">Длина маршрута: @quest.Distance</p>
                        </div>
                        <div class="col-4">
                            <p class="quest-time">Время: @quest.Time</p>
                        </div>
                        <div class="col-4">
                            <p class="quest-price">Цена: @quest.Price</p>
                        </div>
                    </div>

                    @if (User.IsInRole("Provider"))
                    {
                        <a class="btn btn-dark" role="button" asp-controller="Quests" asp-action="EditQuest" asp-route-id="@quest.Id">Редактировать</a>
                        <a class="btn btn-dark" role="button" asp-controller="Quests" asp-action="DeleteQuest" asp-route-id="@quest.Id">Удалить</a>
                    }
                </div>
            </a>
        </div>
    }

</div>
