@model DiscountCouponQuest.WebApp.ViewModel.QuestViewModel

@{
    ViewData["Title"] = "DetailsQuest";
}
<div>
    <h3><img style='width:100%; height:100%;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" /></h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
</div>
<div id="map"></div>
<style>
    #map {
        height:400px;
        width:100%;
    }
</style>
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
<script type="text/javascript">
    window.onload = function () {
        L.mapquest.key = 'NGpCafX70EAzVEyOlDaAsTapc1LmvoVC';

        var map = L.mapquest.map('map', {
            center: [0, 0],
            layers: L.mapquest.tileLayer('map'),
            zoom: 14
        });

        L.mapquest.geocoding().geocode('@Model.Country, @Model.Town, @Model.Street,@Model.Number');
    }
</script>
<div>
    <a asp-controller="Quests" asp-action="ChooseQuest">Вернуться к списку квестов</a>
    <a asp-controller="Purchase" asp-action="BuyQuest" asp-route-questId="@Model.Id">Купить</a>
</div>
